<ion-header>
  <ion-toolbar>
    <ion-title>Etudiant apge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card  *ngIf="student">
     <ion-card-header>
       <ion-card-title>Détail de l'étudiant N° {{student.id}}</ion-card-title>
     </ion-card-header>

     <ion-card-content>
       <ion-item>
         <ion-label>Prénom: {{student.name}}</ion-label>
       </ion-item>
       <ion-item>
         <ion-label>Nom: {{student.lastname}}</ion-label>
       </ion-item>
       <ion-item>
         <ion-label>Age: {{student.age}}</ion-label>
       </ion-item>
       <ion-item>
         <ion-label>Average: {{student.average}}</ion-label>
       </ion-item>
       <ion-item>
         <ion-label>Alternant: {{student.alternant ? 'oui': 'non'}}</ion-label>
       </ion-item>
     </ion-card-content>
   </ion-card>
</ion-content>
