<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{"Que manger ?" | uppercase}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label>Gategories </ion-label>
    <ion-select (ionChange)="onChange($event)" placeholder="Chicken" value="Chicken">
      <ion-select-option  [value]="category.strCategory" *ngFor="let category of categories">{{category.strCategory}}</ion-select-option>
    </ion-select>
  </ion-item>

 <ion-grid *ngIf="meals">
   <ion-row>
     <ion-col *ngFor="let meal of meals" size="6" class="Card-without-image hydrated">
       <img [src]="meal.strMealThumb" alt="meal image" [routerLink]="['/meal',meal.idMeal]">
     </ion-col>
   </ion-row>
 </ion-grid>
</ion-content>
